body {
  background-color: lightsteelblue;
  font-family: arial;
}



h1{

  text-align:  center;
}

ul li {
  list-style: none;
}

.filter label{
  display: inline-block;
 /* float: left;*/
  clear: left;
  width: 200px;
  text-align: left;
}

 
.menu a{
 
  background-color:lightsteelblue;
}

 


.menu ul li {
  display:  inline-block;
  margin-left: 16rem;
}